@page "/"
@using Radzen.Blazor
@using Wtdl.Repository.Data
@using System.Globalization
@using Weitedianlan.Model.Entity.Analysis


@inject LotteryRecordRepository _LotteryRecordRepository
@inject WLabelStorageRepository _WLabelStorageRepository
@inject OutStorageRepository _outStorageRepository
@inject RedPacketRecordRepository _redPacketRecordRepository



<MudPageTitle Title="数据面板" Description="系统数据分析统计"></MudPageTitle>

    <MudGrid >
        <MudItem xs="12" sm="12" md="6">
            <MudGrid >
                <MudItem style="display: flex; justify-content: center; align-items: center" xs="12" sm="12" md="6">
                    <MudPaper Style="width:220px;height:220px" Class="ma-5 pa-12 d-flex flex-column align-stretch align-content-center justify-center border-2  mud-border-primary rounded-circle">
                        <div style="display: flex; justify-content: center; align-items: end">
                            <MudIcon Style="Width: 54px; height: 54px;" Icon="@Icons.Material.Filled.Attractions" Color="Color.Primary"></MudIcon>
                        </div>
                        <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mud-text-secondary  mb-n1">抽奖信息</MudText>
                    <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.h6" Align="Align.Center" Inline="true">0</MudText>
                            <MudText Typo="Typo.caption">抽奖</MudText>
                        </MudStack>
                    <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.h6" Align="Align.Center" Inline="true">0</MudText>
                            <MudText Typo="Typo.caption">中奖</MudText>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem style="display: flex; justify-content: center; align-items: center" xs="12" sm="12" md="6">
                <MudPaper Style="width:220px;height:220px" Class="ma-5 pa-12 d-flex flex-column align-stretch align-content-center justify-center border-2  mud-border-primary rounded-circle">
                        <div style="display: flex; justify-content: center; align-items: end">
                            <MudIcon Style="Width: 54px; height: 54px;" Icon="@Icons.Material.Filled.ViewCarousel" Color="Color.Primary"></MudIcon>
                        </div>
                        <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mud-text-secondary  mb-n1">红包信息</MudText>

                        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.h6" Align="Align.Center" Inline="true">0</MudText>
                            <MudText Typo="Typo.caption">发放</MudText>
                        </MudStack>
                    <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.h6" Align="Align.Center" Inline="true">@TotalAmountSum</MudText>
                            <MudText Typo="Typo.caption">总额</MudText>
                        </MudStack>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" Style="display: flex;align-items: center" Justify="Justify.Center">
            <MudGrid >
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.ShoppingCartCheckout" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            @* <MudStack Row="true" Justify="Justify.SpaceAround" Spacing="2" >
                        <MudText Typo="Typo.caption" Align="Align.End" Class="mud-text-secondary mb-n1">@CountTitleText </MudText>
                        </MudStack>*@
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">今日出货量</MudText>
                            <MudText Typo="Typo.h5"></MudText>
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.Warehouse" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">今年出货量</MudText>
                            <MudText Typo="Typo.h5"></MudText>
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.HouseSiding" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            <MudStack Class="mr-5" Row="true"   AlignItems="AlignItems.End" Justify="Justify.SpaceBetween">
                                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">总出货量</MudText>
                                <MudText Typo="Typo.caption" Align="Align.End" Class="mud-text-secondary mb-n1">@RadzenChartTitleText </MudText>
                            </MudStack>
                           
                            <MudText Typo="Typo.h5">@AllYearCount</MudText>
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.DocumentScanner" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            <MudStack Class="mr-5" Row="true"   AlignItems="AlignItems.End" Justify="Justify.SpaceBetween">
                                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">总订单量</MudText>
                                <MudText Typo="Typo.caption" Align="Align.End" Class="mud-text-secondary mb-n1">@RadzenChartTitleText </MudText>
                            </MudStack>
                           
                            <MudText Typo="Typo.h5">@OrderCount</MudText>
                        </div>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>


@*<MudHidden Breakpoint="Breakpoint.Xs">
    <MudGrid>
        <MudItem xs="12" sm="12" md="6">

            <MudGrid>
                <MudItem style="display: flex; justify-content: center; align-items: center" xs="12" sm="12" md="6">
                    <MudPaper Style="width:200px;height: 200px" Class="ma-5 pa-12 d-flex flex-column align-stretch align-content-center justify-center border-2  mud-border-primary rounded-circle">
                        <div style="display: flex; justify-content: center; align-items: end">
                            <MudIcon Style="Width: 72px; height: 72px;" Icon="@Icons.Material.Filled.Attractions" Color="Color.Primary"></MudIcon>
                        </div>
                        <MudText Typo="Typo.subtitle1" Align="Align.Center" Class="mud-text-secondary  mb-n1">抽奖信息</MudText>
                        <MudStack Row="true">
                            <MudText Typo="Typo.h6" Align="Align.Center" Inline="true"> 0  </MudText>
                            <MudText Typo="Typo.caption">抽奖</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudText Typo="Typo.h6" Align="Align.Center" Inline="true"> 0 </MudText>
                            <MudText Typo="Typo.caption">中奖</MudText>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem style="display: flex; justify-content: center; align-items: center" xs="12" sm="12" md="6">
                    <MudPaper Style="width:200px;height: 200px" Class="ma-5 pa-12 d-flex flex-column align-stretch align-content-center justify-center border-2  mud-border-primary rounded-circle">
                        <div style="display: flex; justify-content: center; align-items: end">
                            <MudIcon Style="Width: 72px; height: 72px;" Icon="@Icons.Material.Filled.ViewCarousel" Color="Color.Primary"></MudIcon>
                        </div>
                        <MudText Typo="Typo.h5" Align="Align.Center" Inline="true">红包信息</MudText>
                        <MudText Typo="Typo.h3" Align="Align.Center" Inline="true">个数：@RedPacketCount</MudText>
                        <MudText Typo="Typo.h3" Align="Align.Center" Inline="true">总和：@TotalAmountSum</MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="12" md="6" Style="display: flex;align-items: center" Justify="Justify.Center">
            <MudGrid>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.ShoppingCartCheckout" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                           
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">今日出货量</MudText>
                            <MudText Typo="Typo.h5"></MudText>
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.Warehouse" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">今年出货量</MudText>
                            <MudText Typo="Typo.h5"></MudText>
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.HouseSiding" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            <MudStack Class="mr-5" Row="true"   AlignItems="AlignItems.End" Justify="Justify.SpaceBetween">
                                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">总出货量</MudText>
                                <MudText Typo="Typo.caption" Align="Align.End" Class="mud-text-secondary mb-n1">@RadzenChartTitleText </MudText>
                            </MudStack>
                            <MudText Typo="Typo.h5">@AllYearCount</MudText>
                        </div>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="12" md="6">
                    <MudPaper Elevation="20" Class="d-flex flex-row pt-6 pb-4">
                        <MudIcon Icon="@Icons.Material.Filled.DocumentScanner" Color="Color.Primary" Class="mx-4" Style="width: 54px; height: 54px;"></MudIcon>
                        <div style="width: 100%">
                            <MudStack Class="mr-5" Row="true"   AlignItems="AlignItems.End" Justify="Justify.SpaceBetween">
                                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">总订单量</MudText>
                                <MudText Typo="Typo.caption" Align="Align.End" Class="mud-text-secondary mb-n1">@RadzenChartTitleText </MudText>
                            </MudStack>
                          
                            <MudText Typo="Typo.h5">@OrderCount</MudText>
                        </div>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudHidden>
*@
<MudStack Class="my-12 " >
    @if (isgetyear)
    {
        <MudPaper Elevation="0" Class="pa-8">
            <MudText Typo="Typo.h6"> 年销量分析图表 </MudText>

            <MudPaper Height="55px" Elevation="5" Class="pa-3 mx-5"   Style="display: flex; align-items: center; gap: 0.5rem">
                <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                <RadzenLabel Text="平滑" For="smooth" Style="margin-right: 1rem;" />
                <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                <RadzenLabel Text="数据标签" For="dataLabels" />
            </MudPaper>
            <RadzenChart>
                <RadzenAreaSeries Smooth="@smooth" Data="@GroupByYearCounts" CategoryProperty="Year" Title="@RadzenChartTitleText" ValueProperty="Count" RenderingOrder="1">
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    <RadzenGridLines Visible="true" />
                    <RadzenLegend Position="LegendPosition.Top" />
                </RadzenAreaSeries>
            </RadzenChart>
        </MudPaper>
        <MudPaper Elevation="0" Class="pa-8">
            <MudText Typo="Typo.h6"> 年份订单总量对比 </MudText>

            <RadzenCard class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
                <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
                <RadzenLabel Text="平滑" For="smooth" Style="margin-right: 1rem;" />
                <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                <RadzenLabel Text="数据标签" For="dataLabels" />
            </RadzenCard>
            <RadzenChart>
                <RadzenAreaSeries Smooth="@smooth" Data="@GroupByYearOrders" CategoryProperty="Year" Title="@RadzenChartTitleText" LineType="LineType.Dashed" ValueProperty="Count">
                    <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    <RadzenGridLines Visible="true" />
                    <RadzenLegend Position="LegendPosition.Top" />
                </RadzenAreaSeries>
            </RadzenChart>
        </MudPaper>
    }
    else
    {
        <MudSkeletonComponent></MudSkeletonComponent>
    }
</MudStack>


@*<PageTitle>Index</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>
<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>
*@
@code
{


    private bool isgetyear = false;
    private bool isgetorder = false;
    
    private string RadzenChartTitleText;

    
    private double AllYearCount { set; get; }
    private double OrderCount{ set; get; }

    private int LotteryCount { set; get; }
    private int RedPacketCount { set; get; }
    private decimal TotalAmountSum { get; set; }
    
    List<ChartSeries> OrderSeries = new();


  
    
    protected async override Task OnInitializedAsync()
    {
       await GetAllYearCountAsync();
       // await GetOrderNumberAsync();
    }

    private List<OutStorageAnalysis> GroupByYearCounts { set; get; }
    private List<OutStorageAnalysis> GroupByYearOrders { set; get; }

    private  async Task GetAllYearCountAsync()
    {
        LotteryCount = await _LotteryRecordRepository.GetLotteryRecordsCountAsync();
        RedPacketCount = await _redPacketRecordRepository.GetRedPacketRecordsCountAsync(); 
        TotalAmountSum = await _redPacketRecordRepository.GetRedPacketRecordsTotalAmountAsync();
      
       
        GroupByYearOrders = await _outStorageRepository.GetGrapByYearAndOrderAsync();

        var  groupbyyearorders = await _outStorageRepository.GetGrapByYearAsync();

         
        GroupByYearCounts = groupbyyearorders.GroupBy(g => g.Year).Select(s =>
            new OutStorageAnalysis
            {
                Year = s.Key,
                Count = s.Sum(s => s.Count),
            }).ToList();

        RadzenChartTitleText = $"{GroupByYearOrders.Min(s => s.Year)}-{GroupByYearOrders.Max(s => s.Year)}";

        AllYearCount = GroupByYearCounts.Sum(s => s.Count);
        OrderCount = GroupByYearOrders.Sum(s => s.Count);
        isgetyear = true;
    }
    
    /// <summary>
    /// 获取订单总数
    /// </summary>
    //private async Task GetOrderNumberAsync()
    //{
    //    var glist = await _WLabelStorageRepository.GetGroupByOrderNumbelsAsync(DateTime.Now.Year);

       
    //    OrderCount = glist.Sum(s => s.Count);

    //    //图表X轴数据
    //    OrderXAxisLabels = glist.Select(s => s.Year.ToString()).ToArray();

    //    //图表展示数据
    //    OrderSeries.Add(new ChartSeries() { Name = "年份订单总量对比", Data = glist.Select(x => x.Count).ToArray() });

    //    isgetorder = true;
    //}


    bool smooth = true;
    bool showDataLabels = true;

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("MMM");
        }

        return string.Empty;
    }


    
}
